TestCases/ProfileController/profiles/testsansunitedocumentaireerreur.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="fr:gouv:ae:archive:draft:standard_echange_v0.2" xmlns:qdt="fr:gouv:ae:archive:draft:standard_echange_v0.2:QualifiedDataType:1" xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:6" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="fr:gouv:ae:archive:draft:standard_echange_v0.2" version="1.1">
       
	<xsd:element name="ArchiveTransfer">
		<xsd:element name="Date" type="udt:DateTimeType"/>
		<xsd:element name="TransferIdentifier" type="qdt:ArchivesIDType"><xsd:attribute name="schemeID" type="xsd:token" use="prohibited"/><xsd:attribute name="schemeName" type="xsd:string" use="prohibited"/><xsd:attribute name="schemeAgencyName" type="xsd:string" use="prohibited"/><xsd:attribute name="schemeVersionID" type="xsd:token" use="prohibited"/><xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="prohibited"/><xsd:attribute name="schemeURI" type="xsd:anyURI" use="prohibited"/></xsd:element>
		<xsd:element name="TransferringAgency" type="OrganizationType"/>
		<xsd:element name="ArchivalAgency" type="OrganizationType"/>
		<xsd:element maxOccurs="unbounded" name="Contains" type="ArchiveType">
			<xsd:element maxOccurs="unbounded" name="DescriptionLanguage" type="qdt:CodeLanguageType"/>
			<xsd:element name="DescriptionLevel" type="qdt:CodeDescriptionLevelType"/>
			<xsd:element name="Name" type="udt:TextType"/>
			<xsd:element name="ContentDescription" type="ContentDescriptionType"/>
		</xsd:element>
	<xsd:attribute name="Id" type="xsd:ID" use="prohibited"/></xsd:element>

</xsd:schema>